{% extends 'base.html.twig' %}

{% block content %}

    <div class="main-article">
        <div class="main-article-text">

            <h1>Page non trouvée ! </h1>

            <p class="no-article-category"> Désolé, mais cette page n'existe pas </p>

            <a class="btn btn-primary" href="{{ path('main') }}"> Retour à l'acceuil </a>
        </div>
    </div>



{% endblock %}